/* Card Container */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--tw-shadow);
  overflow: hidden;
  margin: 1rem;
  width: 250px;
  background-color: var(--black);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px var(--tw-shadow);
}

/* Card Image */
.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Card Content */
.card-content {
  padding: 1rem;
  text-align: center;
}

.card-title {
  margin: 0.5rem 0;
  color: var(--side-nav-bg);
  font-weight: bold;
}

.card-description {
  margin: 0.5rem 0;
  color: var( --badge-bg);
  line-height: 1.4;
}

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    width: 300px; /* Adjust width for medium screens */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* Full width on small screens */
    margin: 1rem 0; /* Adjust margin for small screens */
  }
}
