/* Footer Styles */

.footer-sectionrk {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--primary-dark-bg);
  color: var(--primary);
  width: 95%;
  margin: 0 auto;
}


.footer-sectionrk .footer {
  position: fixed;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--black);
  bottom: 0;
  width: 65vw;
  font-family: Arial, sans-serif; /* Added a default font-family for better readability */
  box-shadow: 0 -2px 5px var(--border-color); /* Subtle shadow to separate footer from content */
}

.footer-content {
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

.footer h3 {
  margin-bottom: 20px;
}

.input-container {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  position: relative;
  width: 60vw;

}

.footer .input-container input {
  color: var(--secondary);
  background-color: var(--primary-dark-bg);
  box-shadow: -5px 0px 5px var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 5px 0px 0px 5px;
  flex: 1 1;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.1;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  outline: none;
}

.footer .input-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark-bg);
  color: var(--secondary);
  cursor: pointer;
  padding: 9px 10px;
  border: 1px solid var(--border-color);
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0 -2px 5px var(--border-color);
}

.footer .input-container button:hover {
  color: var(--primary);
}

.footer .answer {
  margin-top: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px; /* Space between answer and input */
  text-align: left;
}

.footer p {
  margin: 0;
  line-height: 1.4;
}

