
.home {
  padding: 1rem 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.search-bar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 300px;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

/*  Responsiveness */


@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}
