.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  padding: 0.5rem 1rem;
  color: white;
}

.navigation a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}

.navigation a:hover {
  background-color: #ffa500;
  color: white;
}
