/* Sidebar styles */
.sidebar {
  width: 200px;
  padding: 5px 10px;
  color: var(--primary);
}

.sidebar.collapsed {
  width: 60px; /* Adjusted collapsed width */
  /* padding-top: 4.5%; */
}

.sidebar-content {
  text-align: left;
  max-height: calc(100vh - 100px);
  min-height: calc(100vh - 100px);
}

.toggle-button, .faq-button, .new-thread-button {
  width: 100%;
  border: none;
  color: var(--primary);
  background: var(--primary-dark-bg);
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
  gap: 10px;
}

.toggle-button:hover,
.faq-button:hover,
.new-thread-button:hover {
 color: var(--hover);
}

.previous-questions {
  margin-top: 20px;
}

.previous-questions h3 {
  margin-bottom: 10px;
}

.previous-questions h4 {
  color: var(--primary);
  line-height: 0.9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 5px 0;
}
.previous-questions ul {
  padding: 0;
}
.previous-questions ul li {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 5px;
  transition: all .3s ease;
  border-bottom: 1px solid var(--border-color);
  padding: 5px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Reduced sidebar width on mobile */
  }

  .sidebar.collapsed {
    width: 50px; /* Even smaller collapsed sidebar */
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 150px; /* Further reduce width on very small screens */
  }

  .sidebar.collapsed {
    width: 40px; /* Even smaller collapsed sidebar */
  }
}

/* Icon-only state for collapsed sidebar */
.sidebar.collapsed .toggle-button, 
.sidebar.collapsed .faq-button,
.sidebar.collapsed .new-thread-button {
  padding: 10px;
}

.sidebar.collapsed .previous-questions h3,
.sidebar.collapsed .previous-questions p {
  display: none; /* Hide text when collapsed */
}
